body {
  height: 100%;
  width: 100%;
  background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)),url('images/index.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

body h1 {
  margin-top: 1%;
  font-size: 60px;
  color: #f4511e;
  font-family: 'Titillium Web', sans-serif;
}

body a{
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  margin-left: 50px;
  margin-right: 50px;
  border: 1.3px solid #fff;
  border-radius: 20px;
  padding:  8px 80px 8px 80px;   /*TRBL*/
}


body a:hover{
  text-decoration: none;
  color: #4CAF50;
  border-color: #4CAF50;
}


@media only screen and (max-width: 768px) {
    #signupLink{
      margin-top: 40px;
      text-decoration: none;
    }
    #loginLink {
      margin-top: 40px;
      text-decoration: none;
    }
}
